<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="/add_students.html">添加</a>
    
</div>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>班级</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for row in std_list %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.age }}</td>
            <td>
                {% if row.gender == 1 %}
                    男
                    {%else %}
                    女
                {% endif %}
            <td>{{ row.cs.title }}</td>
            <td><a href="/del_students.html?nid={{ row.id }}">删除</a> | <a href="/edit_students.html?nid={{ row.id }}">编辑</a></td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
</div>

</body>
</html>