# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\python-\Day32 ajax底层实现\ajaxProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
